
.videoCallBack{
    position: absolute;
    width: 100%;
    height: calc(100% - 94px);
    top: 94px;
    left: 0px;
    background-color: #4f4f4f;
    overflow: hidden;
}

.middlepopup{
    width:250px;
    height:200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -125px;
}

.popupImageIcon{
    width: 124px;
    height: 126px;
}

.ringingText{
    text-align: center;
    font: 100;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5px;
}

.videoOptions{
    display: none;
}
.videoOptions > img{
    position: absolute;
    bottom: 25px;
    width: 55px;
    height: 55px;
}

.videoOptions>img:hover{
    position: absolute;
    bottom: 25px;
    cursor: pointer;
}

.viewVideo{
    position: absolute;
    left: 0px;
    width: 100%;
}

.ownVideo{
    position: absolute;
    width: 209px;
    height: 118px;
    left: 30px;
    bottom:100px;
    z-index: 2;
}

.popupText{
    font-family: Lato;
    font-style: normal;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    color: #FFFFFF;
}

#exit:hover{
    opacity: 0.6;
}

#messageLogo:hover{
    opacity: 0.6;
}

#messageUnreadLogo:hover{
    opacity: 0.6;
}

.callendpopup{
    width:250px;
    height:200px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -125px;
}

.callEndedImageIcon{
    width: 60px;
    height: 60px;
}

.time{
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-size: 96px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
